body {
  background-color: #DDDDEE;
  font-family: 'PT Serif', serif;
  color: #000000;
}

h3{
  font-size: 38px;
  text-align: center;
}

h4{
  font-size: 22px;
  text-align: center;
}

a {
  color: #111188;
  cursor: pointer;
  text-decoration: underline;
}

rect, .image_axis image {
  cursor: pointer;
}

svg text{
  /*unselectable text http://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page*/
  cursor: default;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#filter_instructions {
  overflow: hidden;
}

#form_wrapper {
  display: table;
  overflow: hidden;
}

#blurb, .form, #data_box {
  text-align: left;
  padding: 10px;
}

.form {
  border: 1px dotted #FF3333;
  display: table-cell;
}

hr {
  border: 0;
  border-bottom: 1px dotted #FF3333;
}

label {
  cursor: hand;
}

#main_graph {
  display: inline-block;
}

#wrapper {
  text-align: center;
}

#main {
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  padding: 1em;
  border: 2px solid #000000;
  background-color: #EEC8A4;
}

#data_box {
  min-height: 430px;
  background-color: #E0B894;
  margin: 3px;
  margin-top: 1em;
}


svg {
  display: block;
  margin: auto;
  margin-top: 1em;
  background-color: #E0B894;
  font-size: 15px;
}

#chart_area {
  fill: #FFE8CC;
  cursor: default;
}

.axis_label {
  font-size: 18px;
  text-anchor: middle;
  font-weight:bold;
}

.resize path {
  fill: #DDD299;
  stroke: #333333;
  stroke-width: 0.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill: #B2703E;
  shape-rendering: crispEdges;
}

#fighter_image {
  float: left;
  width: 500px;
}

#fighter_image img {
  height: 400px;
  padding: 15px;
}

.clear {
  clear: both;
}

.red {
  color: #DD3333;
  font-weight: bold;
}

.blue {
  color: #5555EE;
  font-weight: bold;
}

.white {
  color: #FFFFFF;
  font-weight: bold;
}