  body {
  	background-color: #354458;
  	font-family: 'Times New Roman', serif;
    font-size: 1.2em;
  }

  header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width: 90%;
  	text-align: center;
  	color: #354458;
    background-color: #F3EFE0;
  }

  .main {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0.3em;
    padding: 1em;
    width: 90%;
    border: 2px solid #354458;
    background-color: #F3EFE0;
  }

  dfn {
    font-weight: bolder;
    font-style: normal;
    font-family: arial;
  }

  dt {
    background-color: #880022;
    border-radius: 10px;

    font-size: 20px;
    color: #ffffff;

    padding: 30px;
    padding-left: 20px;
    margin-bottom: 2px;
    margin-top: 10px;

    width: 200px;
  }

  dd {
    background-color: #ffdd99;
    border: 3px solid #aa7722;
    padding: 10px;
    border-radius: 4px;
  }

  dd+dd {
    margin-top: 5px;
  }

  dt {
    background-position: right;
    background-repeat: no-repeat;
  }

  dt.kiran_talks {
    background-image: url('img/Kiran_head.png');
  }
  dt.leo_talks {
    background-image: url('img/Leo_head.png');
  }
  dt.henry_talks {
    background-image: url('img/Henry_head.png');
  }
  dt.mist_talks {
    background-image: url('img/Mist_head.png');
  }
  dt.cecilia_talks {
    background-image: url('img/Cecilia_head.png');
  }
  dt.virion_talks {
    background-image: url('img/Virion_head.png');
  }
  dt.oscar_talks {
    background-image: url('img/Oscar_head.png');
  }
  dt.mrobin_talks {
    background-image: url('img/MRobin_head.png');
  }
  dt.gordin_talks {
    background-image: url('img/Gordin_head.png');
  }
  dt.saber_talks {
    background-image: url('img/Saber_head.png');
  }

  dd table {
    border: 1px solid brown;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    table-layout: fixed;
  }
  dd td {
    border: 1px solid coral;
    margin: 1px;
    padding: 4px;
  }
  dd thead{
    font-weight: bold;
    font-variant-caps: small-caps;
  }

  .interactive {
    margin-left:auto;
    margin-right:auto;
    background-color: #ffffff;
    border: 3px solid #aa7722;
    padding: 10px;
    border-radius: 4px;
    width: 799px;
    text-align: center;
  }

  .interactive table {
    border: 4px solid #889922;
    border-radius: 3px;
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }
  .interactive td {
    border: 1px solid #889933;
    border-radius: 3px;
  }

  .flipped {
    transform: scale(-1, 1);
  }

  .equation {
    margin-left:auto;
    margin-right:auto;
    background-color: #cccccc;
    border: 3px solid #777777;
    padding: 10px;
    border-radius: 4px;
    width: 799px;
    text-align: center;
  }

  .equation sup {
      vertical-align: super;
      font-size: smaller;
  } 

  .interactive_equation {
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #777777;
    padding: 10px;
    border-radius: 4px;
    width: 774px;
    text-align: center;
    margin-bottom:5px;
  }

  .equation > *, .interactive_equation > * {
    vertical-align: middle;
  }
  .equation img, .equation_img, .interactive_equation img {
    height: 40px;
  }

  [contenteditable="true"] {
    border: 1px solid black;
    padding: 3px;
    font-family: MS Shell Dlg 2;
    font-size:13.3333px;
    text-align:start;
    vertical-align:middle;
  }