body {
	height: 100%;
}

table {
	padding: 0px;
	margin: 2px;
	
	/* center horizontally */
	margin-left: auto;
	margin-right: auto;

	/* center vertically */
	position: relative;
}

td {
	padding: 2px;
	margin: 0px;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	width: 65px;
	min-width: 65px;
	max-width: 65px;
	height: 65px;
	min-height: 65px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: center;
	cursor: default;
}

.clickable {
	cursor: pointer;
}

.tile_dark {
	background-color: #eeddaa;
}

.tile_light {
	background-color: #ffeecc;
}

#header {
	padding: 0px;
	margin: 0px;
	height: 50px;
}

#game_main {
	margin: 2px;
	margin-left: auto;
	margin-right: auto;

	padding: 2px;
	border: 1px solid #55cc55;
	width: 95%;
	height: calc(100% - 90px);
}

#left {
	float: left;
	position: relative;
	border: 1px solid #cc6666;
	width: 70%;
	height: 100%;
	overflow: scroll;
}
#left_inner {
	height: auto;
	margin: 0px;
	padding: 0px;
	position: relative;
}
#right {
	float: right;
	padding: 8px;
	border: 1px solid #cc6666;
	width: calc(30% - 6px - 16px);
	height: calc(100% - 16px);
	overflow: scroll;
}

#dropdown {
	border: 1px solid #333333;
	background: #f8f8f8;
	border-radius: 3px;
	width: 80px;
	padding: 0px;
	margin: 0px;
	position: absolute;
}
#dropdown ul {
	list-style: none;
	padding: 0px;
	margin: 3px;
}
#dropdown ul button {
	width: 100%;
}


#battle_forecast {
	border: 3px solid #333333;
	background: #f8f8f8;
	border-radius: 3px;
	width: 60%;
	height: 60%;
	padding: 1px;
	margin: 0px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}
#battle_forecast_left {
	border: 1px solid #333333;
	background: #f8f8f8;
	border-radius: 3px;
	width: calc(50% - 3px);
	height: calc(100% - 44px);
	padding: 0px;
	margin: 0px;
	float:left;
}
#battle_forecast_right {
	border: 1px solid #333333;
	background: #f8f8f8;
	border-radius: 3px;
	width: calc(50% - 2px);
	height: calc(100% - 44px);
	padding: 0px;
	margin: 0px;
	float:right;
}
#battle_forecast_bottom {
	border: 1px solid #333333;
	background: #f8f8f8;
	border-radius: 3px;
	width: calc(100% - 2px);
	height: 40;
	padding: 0px;
	margin: 0px;
	clear:both;
}
#battle_forecast_bottom>button {
	height: calc(100% - 4px);
	margin: 4px;
	width:calc(50% - 10px);
}
#battle_forecast_left>.character_container{
	width:100%;
	text-align: center;
}
#battle_forecast_right>.character_container{
	width:100%;
	text-align: center;
}

.character_container {
	/*http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}
.character_symbol {
	font-family: 'Symbola', 'Segoe UI Symbol', 'Microsoft YaHei';
	font-size: 35px;
	margin: 0px;
	padding: 0px;
}
.character_name {
	font-size: 9px;
	color: #007755;
	font-family: arial, sans-serif;
}

.class_list_div {
}

dl {
	text-align: left;
	overflow-y: auto;
}
dt {
	margin-left: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
dd {
	padding-left: 2px;
	border-left: 1px solid black;
}

.tile_accessible.tile_dark {
	background-color: #aaaadd;
}
.tile_accessible.tile_light {
	background-color: #ccccee;
}
.tile_attackable.tile_dark {
	background-color: #cc8888;
}
.tile_attackable.tile_light {
	background-color: #eebbbb;
}
.tile_selected {
	background-color: #bbeeee;
}
.tile_attacked {
	background-color: #ff0000; /*todo*/
}

.alignment_player .character_symbol {
	color: #0033bb;
}
.alignment_player .character_name {
	color: #0033bb;
}

.alignment_enemy .character_symbol {
	color: #aa1100;
}
.alignment_enemy .character_name {
	color: #aa1100;
}